body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.mainHeader {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 20px;
    margin: 0;
    text-align: center;
}

.headerImg {
    display: inline-block;
}

.mainHeader img {
    display: inline-block;
    height: 74px;
    vertical-align: middle;
    margin: 0 10px;
}

.mainHeader span {
    font-size: 74px;
    font-weight: lighter;
    vertical-align: middle;
}

.mainHeader h1 {
    font-size: 40px;
    display: inline-block;
    margin-left: 30px;
}

.mainContent {
    padding: 15px 0 0 0;
    /* background-image: url('/img/background.png'); */
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    background: linear-gradient(180deg, rgba(1, 115, 181, 0.75) 10%, rgba(227, 91, 102, 0.75), rgba(2, 70, 113, 0.75)), url('../img/codeRainv2.gif');

}

/* Grid ---------------------------------------------------------- */
.form-content {
    display: grid;
    /* grid-auto-rows: minmax(auto, auto); */
    grid-gap: 10px;
}

.campoCifrar {
    grid-column: 1 / 2;
}

.campoDescifrar {
    grid-column: 2 / 2;
}

/* Form items display ---------------------------------------------------------- */
#campoCifrar > * {
    display: block;
}

#campoDescifrar > * {
    display: block;
}

#campoDescifrar .form-button {
    display: inline-block;
}

#campoDescifrar .tooltip {
    display: inline-block;
}

#campoCifrar .form-button {
    display: inline-block;
}
/* Form items style ---------------------------------------------------------- */
.form-content {
    margin: 15px;
}

.form-content fieldset {
    min-width: 50%;
    max-width: 100%;
    padding: 20px;
    border-radius: 5px;
}

.form-content legend {
    padding: 15px;
    text-align: center;
    border-radius: 15px;
    width: 200px;
}

.campoCifrar legend {
    background-color: black;
    color: white;
}

.campoDescifrar legend {
    background-color: white;
    color: black;
}

.campoCifrar {
    background-color: rgb(255, 255, 255, 0.5);
}

.campoDescifrar {
    background-color: rgb(0, 0, 0, 0.5);
    color: white;
}

.form-content label {
    font-size: 17px;
    margin: 10px 0;
}

.form-content textarea {
    width: 100%;
    font-size: 16px;
}

.form-content p {
    font-size: 13px;
    color: #525252;
    margin: 10px 0;
}

.unicode-icons {
    height: 15px;
    width: 15px;
    background-color: #525252;
    border-radius: 50%;
    display: inline-block;
    text-align:center;
    font-size: 11px;
    color: white;
    margin-right: 5px;
    line-height: 15px;
}

.form-button {
    margin-top: 10px;
    padding: 5px;
    width: 120px;
    box-shadow: 0px 0px 15px 5px rgb(0, 0, 0, 0.1);
    transition: all 0.3s;
}

.form-button:hover {
    transform: scale(1.1);
}

.Submit {
    cursor: pointer;
    background-color: rgb(103, 173, 238);
    border: none;
    border-radius: 5px;

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: white;
}

.Submit:hover {
    background-color: rgb(72, 125, 175);
}

.Submit:disabled {
    background-color: rgb(166, 194, 219);
    cursor:auto;
}

.Copy {
    cursor:pointer;
    background-color: rgb(238, 141, 103);
    border: none;
    border-radius: 5px;

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: white;
}

.Copy:hover {
    background-color: rgb(204, 119, 85);
}

/* Tooltip para el boton copiar*/
.tooltip {
    position: relative;
    /* display: inline-block; */
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltiptext {
    overflow: hidden;
    text-overflow: ellipsis;
}
  
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* Footer -------------------------------------------------------- */
.mainFooter {
    /* background-image: url('/img/rainWhite.gif'); */
    background-color: rgb(0, 0, 0, 0.7);
    color: white;
    padding: 1rem 0;
    margin: 10px 0 0 0;
}

.mainFooter p {
    margin: 0 65% 0 10px;
    display: inline-block;
}

.footerImg {
    display: inline-block;
}

.footerImg img {
    height: 30px;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    top: -1px;
    left: -3px;
    transition: all 0.3s;
}

.round {
    height: 29px;
    width: 25px;
    border-radius: 50%;
    background-color: white;
    display: inherit;
    margin-left: 20px;
    box-shadow: 0px 0px 15px 5px rgb(255, 255, 255, 0.2);
    transition: all 0.3s;
}

.square {
    height: 29px;
    width: 25px;
    background-color: white;
    display: inherit;
    margin-left: 20px;
    box-shadow: 0px 0px 10px 5px rgb(255, 255, 255, 0.2);
    transition: all 0.3s;
}

.round:hover {
    transform: rotate(-45deg);
    box-shadow: 0px 0px 10px 5px rgb(0, 0, 0, 0.2);
}

.square:hover {
    transform: rotate(-45deg);
    box-shadow: 0px 0px 10px 5px rgb(0, 0, 0, 0.2);
}
/* Media Querys ------------------------------------------------------------ */
@media screen and (max-width:640px){
    .headerImg {
        margin: 0;
    }

    .mainHeader h1 {
        margin: 0;
        margin-top: 10px;
        line-height: 50px;
    }

    .campoCifrar {
        grid-column: 1;
        grid-row: 1 / 2;
    }
    
    .campoDescifrar {
        grid-column: 1;
        grid-row: 2 / 2;
    }

    .mainFooter p {
        margin: 0 10% 10px 10px;
    }

    .round {
        box-shadow: 0px 0px 15px 5px rgb(0, 0, 0, 0.2);
    }
    
    .square {
        box-shadow: 0px 0px 10px 5px rgb(0, 0, 0, 0.2);
    }
}
